{% extends 'account_base.html' %}
{% load i18n %}

{% block title %}{% trans "Profile" %} - {{ block.super }}{% endblock %}
{% block extra_script %}
<script type="text/javascript">
    $(window).load(function() {$('.thumbnail').height(Math.max.apply(null, $(".thumbnail").map(function () { return $(this).height();}).get()))});
</script>
{% endblock %}
{% load thumbnail %}

{% block extra_content %}
    <div class="row">
        <div class="span3">
            <div class="well">
                <img src="{% thumbnail profile.avatar|default:'img/default.jpg' 400x200 crop %}" alt="">
                <h2>{{ user.get_full_name }}</h2>
                <a class="btn btn-primary" href="/accounts/profile/edit/">{% trans "Edit profile" %}</a><br>
            </div>
        </div>

        <div class="span9">
            {% if admin_challenges.0.0 or admin_challenges.1.0 or admin_challenges.2.0 %}
                <h3>{% trans "Challenges you are responsible for" %}</h3>
                {% for challenges, header in admin_challenges %}
                    {% if challenges %}
                    <h4>{{ header }}</h4>
                    <ul class="thumbnails per3">
                        {% for challenge in challenges %}
                            <li class="span3">
                                <a class="thumbnail" href="{{ challenge.get_absolute_url }}">
                                    <img src="{% thumbnail challenge.avatar|default:'img/default.jpg' 340x200 crop %}" alt="{{ challenge.name }}">
                                    <h4>
                                        {{ challenge.name }}
                                    </h4>
                                    <p>
                                        <strong>{{ challenge.start_date|date:"l j. F o" }}</strong><br>
                                        {{ challenge.location }}
                                    </p>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>Du hast noch keine Engagements ausgeschrieben.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
