{% extends 'account_base.html' %}
{% load i18n %}

{% block title %}{% trans "Delete account" %} - {{ block.super }}{% endblock %}

{% block extra_content %}
    <form id="delete_account" class="well" action="." method="post">{% csrf_token %}
        <div class="row">
            <div class="span12">
                <div class="row">
                    <div class="span4">
                    </div>
                    <div class="span4" style="text-align:center;">
                        <p>Bist du sicher, dass du dein Engagiert.be-Konto löschen möchtest? Dies wird alle deine
                            Engagements löschen, und kann nicht rückgängig gemacht werden.</p>
                        <input type="submit" class="btn btn-danger btn-big" value="Konto löschen" />
                        <a class="btn btn-success btn-big" href="/accounts/profile/view/">Konto nicht löschen</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
