{% extends 'home_base.html' %}
{% load i18n %}

{% block extra_content %}
    <div class="hero-unit title-hero">
    </div>
    <div class="hero-unit centered-text ">
        <h3 on-image>Engagiert.be - Bern bessern</h3>
        <p on-image>
            Auf Engagiert.be kannst du freiwillige Engagements finden und
            erfassen. Möchtest du neue Leute kennen lernen, Spass haben und dabei den
            Raum Bern ein kleines Bisschen besser machen? Etwas zur Kultur,
            zum sozialen Zusammenhalt oder zum Umweltschutz beitragen? <a href="/challenges/">
            Finde jetzt dein erstes Engagement auf Engagiert.be</a>!
        </p>
    </div>
    <div class="row">
        <div class="span6">
            <h4>
                In der Freizeit etwas gutes tun
            </h4>
            <p>
                Hast du Lust, dich in der Hauptstadtregion sozial, ökologisch oder kulturell zu engagieren,
                dabei Spass zu haben und neue Leute kennen zu lernen? Dann ist Engagiert.be genau das richtige für
                dich!
            </p>
                Hier findest du <a href="/challenges">viele Möglichkeiten dich zu engagieren</a>!
            <p>
            </p>
        </div>
        <div class="span6">
            <h4>
                Hilfe für dein Projekt finden
            </h4>
            <p>
                Setzt du dich für etwas ein, was dir wichtig ist? Könntest du dabei tatkräftige Unterstützung
                gebrauchen? Schreibe deine Aktion hier aus, damit Gleichgesinnte mitmachen können. Willkommen sind
                alle Arten von Einsätzen.
            </p>
            {% if request.user.is_authenticated %}
            <p>
                <a href="/challenges/create/">Schreibe ein Engagement aus!</a>
            </p>
            {% else %}
            <p>
                Um ein Engagement ausschreiben zu können, brauchst du ein <a href="/accounts/signup">Benutzerkonto</a>.
            </p>
            {% endif %}
        </div>
    </div>
{% endblock %}
