.thumbnail {
    padding: 20px;
}

.centered-text {
    text-align: center;
}

.thumbnail:hover {
    text-decoration: none;
}

h3 {
    line-height: 110%;
}

.title-hero {
    background: url(../img/bern_altstadt.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    min-height: 150px;
}

.on-image {
    color: white;
}

.footer ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.footer {
    margin-bottom: 15px;
}
