{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Create challenge" %} - {{ block.super }}{% endblock %}

{% block content %}
    <ul class="nav nav-tabs">
        <li class=""><a href="/">{% trans "What is Participe?" %}</a></li>
        <li class=""><a href="{% url challenge_list %}">{% trans "Challenges" %}</a></li>
        <!-- <li class=""><a href="{% url organization_list %}">{% trans "Organizations" %}</a></li> -->
        <li class="active"><a href="{% url challenge_create %}">{% trans "Create a Challenge" %}</a></li>
    </ul> 

    <div class="main_container">
        <style type="text/css" scoped>
            ul li {list-style: none;}
            #ui-datepicker-div {display: none;}
        </style>
        
        <form enctype="multipart/form-data" action="." method="post">{% csrf_token %}
            <div class="row">
                <div class="span12">
                    <h3>{% trans "Create a challenge" %}</h3>
                    <p>
                        Hier kannst du ein Engagement eintragen, damit es auf Engagiert.be erscheint und sich
                        Gleichgesinnte bei dir melden können.
                    </p>
                    <div {% if form.name.errors %}class="control-group error"{% else %}class="input"{% endif %}>
                        <h5>Titel</h5>
                        {{ form.name }}{{ form.name.errors }}
                    </div>

                    <div {% if form.description.errors %}class="control-group error"{% else %}class="input"{% endif %}>
                        <h5>Beschreibung</h5>
                        {{ form.description }}
                    </div>

                    <div class="input">
                        <h5>Bild</h5>
                        {{ form.avatar }}{{ form.avatar.errors }}
                    </div>

                    <div {% if form.location.errors %}class="control-group error"{% else %}class="input"{% endif %}>
                        <h5>Ort</h5>
                        {{ form.location }}
                    </div>

                    <div {% if form.start_date.errors or form.start_time.errors %}class="control-group error"{% else %}class="input"{% endif %}>
                        <h5>Datum</h5>
                        {{ form.start_date }}{{ form.start_date.errors }}
                        <h5>Uhrzeit</h5>
                        {{ form.start_time }}{{ form.start_time.errors }}
                    </div>

                    <div {% if form.duration.errors %}class="control-group error"{% else %}class="input"{% endif %}>
                        <h5>Ungefähre Dauer in Stunden</h5>
                        {{ form.duration }} {% trans "hours" %}
                    </div>

                    {% if not form.organization.is_hidden %}
                        <div {% if form.organization.errors %}class="control-group error"{% else %}class="input"{% endif %}>
                            {% trans "Affiliate with organization" %} {{ form.organization }}{{ form.organization.errors }}
                        </div>
                    {% endif %}


                    <div {% if form.contact.errors %}class="text-error"{% else %}class="input"{% endif %}>
                        <h5>Kontakt (Freiwillig)</h5>
                        {{ form.contact }}{{ form.contact.errors }}
                    </div>

                    <div {% if form.link.errors %}class="text-error"{% else %}class="input"{% endif %}>
                        <h5>Link zu weiteren Informationen (Freiwillig)</h5>
                        {{ form.link}}{{ form.link.errors }}
                    </div>

                    <!--
                    <div {% if form.application.errors %}class="text-error"{% else %}class="input"{% endif %}>
                        {% trans "Application" %} {{ form.application }}
                    </div>
                    -->

                    <input type="submit" class="btn btn-primary btn-large" value="{% trans 'Create this challenge' %}" />
                </div>
            </div>
        </form>
    </div>

    <script>
        $(function() {
            options = {
                dateFormat: 'dd.mm.yy',
                changeYear: true,
                yearRange: ":+2",
                changeMonth: true
            }
            $('input[name=start_date]').datepicker(options);
            $('input[name=alt_date]').datepicker(options);
        });

        {% comment %}
        $(function() {
            options = {
                showNowButton: true,
                showDeselectButton: true,
                defaultTime: '',
                showCloseButton: true
            }
            $('input[name=start_time]').timepicker(options);
        });
        {% endcomment %}
    </script>
{% endblock %}
