{% extends 'base.html' %}
{% load i18n %}

{% block title %}Engagement bearbeiten - {{ block.super }}{% endblock %}

{% block content %}
    <ul class="nav nav-tabs">
        <li class=""><a href="/">{% trans "What is Participe?" %}</a></li>
        <li class=""><a href="{% url challenge_list %}">{% trans "Challenges" %}</a></li>
        <!-- <li class=""><a href="{% url organization_list %}">{% trans "Organizations" %}</a></li> -->
        <li class="active"><a>Engagement bearbeiten</a></li>
    </ul>

    <div class="main_container">
        <style type="text/css" scoped>
            ul li {list-style: none;}
            #ui-datepicker-div {display: none;}
        </style>

        <form id="edit-form" enctype="multipart/form-data" action="." method="post">{% csrf_token %}
            <div class="row">
                <div class="span12">
                    <h3>Engagement bearbeiten</h3>
                    <div {% if form.name.errors %}class="control-group error"{% else %}class="input"{% endif %}>
                        <h5>Titel</h5>
                        {{ form.name }}{{ form.name.errors }}
                    </div>

                    <div {% if form.description.errors %}class="control-group error"{% else %}class="input"{% endif %}>
                        <h5>Beschreibung</h5>
                        {{ form.description }}
                    </div>

                    <div class="input">
                        <h5>Bild</h5>
                        {{ form.avatar }}{{ form.avatar.errors }}
                    </div>

                    <div {% if form.location.errors %}class="control-group error"{% else %}class="input"{% endif %}>
                        <h5>Ort</h5>
                        {{ form.location }}
                    </div>

                    <div {% if form.start_date.errors or form.start_time.errors %}class="control-group error"{% else %}class="input"{% endif %}>
                        <h5>Datum</h5>
                        {{ form.start_date }}{{ form.start_date.errors }}
                        <h5>Uhrzeit</h5>
                        {{ form.start_time }}{{ form.start_time.errors }}
                    </div>

                    <div {% if form.duration.errors %}class="control-group error"{% else %}class="input"{% endif %}>
                        <h5>Ungefähre Dauer in Stunden</h5>
                        {{ form.duration }} {% trans "hours" %}
                    </div>

                    <!--
                    {% if not form.organization.is_hidden %}
                        <div {% if form.organization.errors %}class="control-group error"{% else %}class="input"{% endif %}>
                            {% trans "Affiliate with organization" %} {{ form.organization }}{{ form.organization.errors }}
                        </div>
                    {% endif %} -->


                    <div {% if form.contact.errors %}class="text-error"{% else %}class="input"{% endif %}>
                        <h5>Kontakt</h5>
                        {{ form.contact }}{{ form.contact.errors }}
                    </div>

                    <div {% if form.link.errors %}class="text-error"{% else %}class="input"{% endif %}>
                        <h5>Link zu weiteren Informationen (Freiwillig)</h5>
                        {{ form.link}}{{ form.link.errors }}
                    </div>

                    <!--
                    <div {% if form.application.errors %}class="text-error"{% else %}class="input"{% endif %}>
                        {% trans "Application" %} {{ form.application }}
                    </div>
                    -->

                    <input type="submit" class="btn btn-primary btn-large" value="Engagement speichern" />
                    <input type="button" id="delete-button" class="btn btn-danger" value="Engagement löschen" />
                </div>
            </div>
        </form>

        <div id="dialog">
            <span>Bist du sicher, dass du dieses Engagement löschen möchtest?</span>
        </div>
    </div>

    <script>
        $(function() {
            options = {
                dateFormat: 'dd.mm.yy',
                changeYear: true,
                yearRange: ":+2",
                changeMonth: true
            }
            $('input[name=start_date]').datepicker(options);
            $('input[name=alt_date]').datepicker(options);
        });

        $("#dialog").dialog({
            autoOpen: false,
            draggable: true,
            resizable: false,
            modal: true,
            buttons: {
                "Engagement löschen": function(){
                    var input = $("<input>").attr("type", "hidden").attr("name", "delete").val("delete");
                    $("#edit-form").append($(input));
                    $("#edit-form").submit();
                },
                "Abbrechen": function(){
                    $(this).dialog('close');
                }
            }
        });

        $('input[id="delete-button"]').click(function(){
            $("#dialog").dialog("open");
        });


        {% comment %}
        $(function() {
            options = {
                showNowButton: true,
                showDeselectButton: true,
                defaultTime: '',
                showCloseButton: true
            }
            $('input[name=start_time]').timepicker(options);
        });
        {% endcomment %}
    </script>
{% endblock %}
