{% extends 'challenge_base.html' %}
{% load i18n %}

{% block title %}{% trans "Challenge details" %} - {{ block.super }}{% endblock %}
{% load thumbnail %}

{% block extra_script %}
{% endblock %}

{% block extra_content %}
    <div class="row ">
        <div class="span8">
            <div class="well">
                <div class="pull-right">
                </div>
                <img src="{{ challenge.avatar|default:'img/default.jpg'|thumbnail_url:'span9_wide' }}" alt="">
                <p>
                    <h1>
                        {{ challenge.name }}
                    </h1>
                </p>
                <p>
                    {{ challenge.start_date }}
                    | {{ challenge.start_time|date:"G:i"|default:"0:00" }} Uhr
                    | {{ challenge.location }}
                    | {{ challenge.duration }} Stunde{% if challenge.duration != 1 %}n{% endif %}
                </p>
                {% if challenge.organization and not challenge.organization.is_deleted %}
                    <p>
                        {% trans "Organized by" %}
                        <a href="{{ challenge.organization.get_absolute_url }}">{{ challenge.organization.name }}</a>
                    </p>
                {% endif %}
                <blockquote>
                    {{ challenge.description|safe|linebreaks }}
                </blockquote>
            </div>
        </div>
        <div class="span4">
            {% if user.is_authenticated %}
                {% if is_admin %}
                    <div class="well">
                        <p><a class="btn btn-small" href="{{ challenge.get_edit_url }}">{% trans "Edit challenge" %}</a></p>
                    </div>
                {% endif %}
            {% endif %}

            {% if challenge.contact%}
                <div class="well">
                    <h4>Kontakt</h4>
                    {{ challenge.contact }}
                </div>
            {% endif %}

            {% if challenge.link %}
                <div class="well">
                    <h4>Link</h4>
                    <a href="{{ challenge.link }}">{{ challenge.link }}</a>
                </div>
            {% endif %}

            {% if user.social_auth.all %}
                {% with "facebook" as service %}
                    <div class="well">
                        <div class="input">
                            <a href="#" onclick="share_on_fb();">
                                <img src="{{ MEDIA_URL }}img/share_on_FB.jpg" alt="Share on {{ service }}"/>
                            </a>
                        </div>
                        <input type="hidden">
                            <a id="share-on-fb" href="http://www.facebook.com/sharer.php?s=100&p[url]={{ request.build_absolute_uri }}&p[images][0]=http://{{ request.get_host }}{{ challenge.avatar.url }}&p[title]={{ challenge.name }}&p[summary]={{ challenge.description }}" target="_blank" title="Share on {{ service }}">
                            </a>
                        </input>
                    </div>
                {% endwith %}
            {% endif %}
        </div>

        <script type="text/javascript">
            function share_on_fb(){
                try {
                    redirect_to = $("#share-on-fb").attr("href");
                    if ($("#id_share_on_FB").is(":checked") && redirect_to){
                        height = 300;
                        width = 500;
                        centeredY = (screen.height - height)/2;
                        centeredX = (screen.width - width)/2;
                        window.open(redirect_to, "_blank", "height="+height+",width="+width+",left="+centeredX+",top="+centeredY).focus();
                    }
                } catch(err) {
                }
            }
        </script>
    </div>
{% endblock %}
